body{
    margin: 0;
    padding: 0;
    background-color:#EFEFEF;
    color: #CACCCE;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5{
   font-weight: normal;
}
ol,li{
    list-style: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.top-navbar .logo{
    font-family: "Segoe UI Black";
    font-size: 30px;
    line-height: 50px;
    padding: 0 13px;
}
.top-navbar .rs{
    color: #E8676B;
}
.top-navbar .card{
    color: #9A9DA2;
}
.top-navbar .navBox nav{
    float: right;
    font-weight: bold;
    color: #CACCCE;
    font-size: 1px;
    padding-top: 7px;
}
.top-navbar .navBox nav ul{
    margin:  0;
}
.top-navbar .navBox nav ul>li{
    float: left;
    list-style: none;
    margin: 0 17px;
}
.top-navbar .navBox nav ul>li>a{
    color: #CACCCE;
    border-bottom: 3px solid transparent;
    padding: 12px 0;
    display: block;
}
.top-navbar .navBox nav ul>li>a:hover{
    border-bottom-color: #E8676B;
}
.banner{
    height: 460px;
    background-position: center center;
    background-size: cover;
}
.banner .bgColor{
    background-color:rgba(0,0,0,0.6);
    height: 460px;
}
.top-navbar{
    position: fixed;
    width: 100%;
}
.top-navbar .navBox{
    padding: 10px 0;
}
.cardBox{
    max-width: 930px;
    background-color: white;
    margin: -350px auto 0 auto;
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
}
.portrait{
    float: left;
}
.intro{
    float: left;
    margin-left: 60px;
    width: 470px;
    
}
.introBox{
    padding: 59px 50px 35px 50px;
}
.welcome{
    background-color: #E8676B;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 14px;
    line-height: 1.1;
    position: relative;
    display: inline-block;
    margin-bottom: 22px;
}
.triangle{
    display: inline-block;
    border: 10px solid transparent;
    border-left-color:#E8676B;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 4px;
}
.cardBox h1,
.cardBox p{
    color: black;
}
.intro dl dt,
.intro dl dd{
    float: left;
    margin: 6px 0;
    line-height: 20px;
}
.intro dl dt{
    color: black;
    font-weight: bold;
    font-size: 12px;
    width: 30%;
}
.intro dl dd{
    width: 70%;
    font-size: 15px;
}
hr{
    margin: 24px 0;
}
.media{
    background-color: #E8676B;
    text-align: center;
}
.media a{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    margin: 20px 12px;
}
.media a:hover{
    background-color: #D05C60;
}
.media svg{
    fill: white;
    height: 30px;
    width: 30px;
}
.buttonWrap{
    text-align: center;
   margin-top: 30px;
}
.buttonWrap a{
    border: 1px solid #CDCFD1;
    color: black;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.3s;
}
.buttonWrap a:hover{
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
}
.experience{
    text-align: center;
    color: black;
    font-family: kaiti;
    margin: 35px auto;
}
section >h2{
    font-weight: 700;
}
.skillClub{
    text-align: center;
    max-width: 930px;
    margin: 0 auto;
    color: black;
}
.skillClub ol>li>h3{
    text-align: left;
    font-size: 13px;
    margin-bottom: 4px;
}
.skillClub ol{
    background-color: white;
    padding: 0 23px 45px 23px;
    margin-top: 25px;
    margin-bottom: 60px;
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
}
.skillClub ol>li{
    float: left;
    width: 50%;
    padding: 38px 15px 0 15px;
    box-sizing: border-box;
}
.skillbar{
    height: 5px;
    background-color: #FAE1E1;
    border-radius: 2px;
}
.skillLevel{
    height: inherit;
    background-color: #E8676B;
    width: 50%;
    border-radius: 2px;
}
.portfolio{
    text-align: center;
    color: black;
}
.portfolio nav{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.portfolio nav>ol{
    margin-bottom: 14px;
}
.portfolio nav>ol>li{
    float: left;
    margin-left: 44px;
}
.portfolio nav>ol>li:first-child{
    margin-left: 0;
}
.choiceBar{
    height: 5px;
    background-color: white;
    border-radius: 2px;
}
.choicePoint{
    height: inherit;
    background-color: #E8676B;
    width: 33px;
    border-radius: 2px;
}
.portfolio nav .choiceBar.state1 .choicePoint{
    width: 33px;
    margin-left: 0;
}
.portfolio nav .choiceBar.state2 .choicePoint{
    width: 33px;
    margin-left: 77px;
}
.portfolio nav .choiceBar.state3 .choicePoint{
    width: 92px;
    margin-left: 151px;
}
.big,.small{
    position: absolute;   
}
.works{
    position: relative;
    max-width: 930px;
    text-align: center;
    margin: 0 auto;
    height: 576px;
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
    margin-bottom: 100px;
}
#workPic2{
    left: 636px;
    top: 0;
}
#workPic3{
    left: 636px;
    top: 298px;
}