body{ margin: 0; padding: 0; background-color:#EFEFEF; color: #CACCCE; }
*{ padding: 0; margin: 0; }
a{ text-decoration: none; }
h1,h2,h3,h4,h5{ font-weight: normal; }
ol,li{ list-style: none; }
.clearfix::after{ content: ""; display: block; clear: both; }
.top-navbar .logo{
    font-family: "Segoe UI Black";
    font-size: 30px;
    line-height: 50px;
    padding: 0 13px;
}
.top-navbar .rs{
    color: #E8676B;
}
.top-navbar .card{
    color: #9A9DA2;
}
.top-navbar .navBox nav{
    float: right;
    font-weight: bold;
    /* color: #CACCCE; */
    font-size: 1px;
    padding-top: 7px;

}
.top-navbar .navBox nav ul{
    margin:  0;
}
.top-navbar .navBox nav ul>li{
    float: left;
    list-style: none;
    margin: 0 17px;
    position: relative;
}
.top-navbar .navBox nav ul>li>a{
    color: inherit;
    border-bottom: 3px solid transparent;
    padding: 12px 0 2px 0;
    display: block;
    
}
.top-navbar .navBox nav ul>li.active>a::after,
.top-navbar .navBox nav ul>li.highlight>a::after{
    content: '';
    display: block;
    left: 0;
    top: 0;
    height: 3px;
    background: #E8676B;
    border-radius: 2px;
    animation: slideBorder .5s;
}
@keyframes slideBorder{
    0%{width: 0;}
    100%{width: 100%;}
}
/* 10.21-UD-下拉菜单 */
.navBox>nav>ul>li>.subMenu{
    display: none;
    position: absolute;
    background: white;
    color: #797E87;
    right: 0;
    top: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    animation: slideSubMenu 0.5s;
}
@keyframes slideSubMenu{
    0%{margin-right: 100%}
    100%{margin-right: 0%;}
}
.navBox>nav>ul>li.active>.subMenu{
    display: block;
}
.navBox>nav>ul>li>.subMenu>li{
    padding: 3px 5px;
    white-space: nowrap;
}

.banner{
    height: 460px;
    background-position: center center;
    background-size: cover;
}
.banner .bgColor{
    background-color:rgba(0,0,0,0.6);
    height: 460px;
}
.top-navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.top-navbar .navBox{
    padding: 10px 0;
    color: #CACCCE;
}
.top-navbar.sticky .navBox{
    padding: 0;
    background: white;
    color: #3D4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.cardBox{
    max-width: 930px;
    background-color: white;
    margin: -350px auto 0 auto;
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
}
.portrait{
    float: left;
}
.intro{
    float: left;
    margin-left: 60px;
    width: 470px;
    
}
.introBox{
    padding: 59px 50px 35px 50px;
}
.welcome{
    background-color: #E8676B;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 14px;
    line-height: 1.1;
    position: relative;
    display: inline-block;
    margin-bottom: 22px;
}
.triangle{
    display: inline-block;
    border: 10px solid transparent;
    border-left-color:#E8676B;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 4px;
}
.cardBox h1,
.cardBox p{
    color: black;
}
.intro dl dt,
.intro dl dd{
    float: left;
    margin: 6px 0;
    line-height: 20px;
}
.intro dl dt{
    color: black;
    font-weight: bold;
    font-size: 12px;
    width: 30%;
}
.intro dl dd{
    width: 70%;
    font-size: 15px;
}
hr{
    margin: 24px 0;
}
.media{
    background-color: #E8676B;
    text-align: center;
}
.media a{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    margin: 20px 12px;
}
.media a:hover{
    background-color: #D05C60;
}
.media svg{
    fill: white;
    height: 30px;
    width: 30px;
}
.buttonWrap{
    text-align: center;
   margin-top: 30px;
}
.buttonWrap a{
    border: 1px solid #CDCFD1;
    color: black;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.3s;
}
.buttonWrap a:hover{
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
}
.experience{
    text-align: center;
    color: black;
    font-family: kaiti;
    margin: 35px auto;
}
section >h2{
    font-weight: 700;
}
.skillClub{
    text-align: center;
    max-width: 930px;
    margin: 0 auto;
    color: black;
}
.skillClub ol>li>h3{
    text-align: left;
    font-size: 13px;
    margin-bottom: 4px;
}
.skillClub ol{
    background-color: white;
    padding: 0 23px 45px 23px;
    margin-top: 25px;
    margin-bottom: 60px;
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
}
.skillClub ol>li{
    float: left;
    width: 50%;
    padding: 38px 15px 0 15px;
    box-sizing: border-box;
}
.skillbar{
    height: 5px;
    background-color: #FAE1E1;
    border-radius: 2px;
    overflow: hidden;
}
.skillClub .skillbar .skillLevel{
    height: inherit;
    background-color: #E8676B;
    width: 50%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}
.skillClub.offset .skillbar .skillLevel{
    transform: translateX(-100%);
}
.portfolio{
    text-align: center;
    color: black;
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.portfolio h2{
    margin:20px 0;
}


/* for loading */
.loading{ height: 200px; width: 200px;position: relative; }
.loading::before,.loading::after{ content:''; width: 0px; height: 0px; border-radius:50%; position: absolute; top:0; left:0; right:0; bottom:0; margin:auto; animation:s 3s infinite linear; background: black; }
.loading::after{ animation-delay:0.75s; }
@keyframes s{ 0%{ width:0px;height:0px;opacity:1; } 100%{ width:100px;height:100px;opacity:0; } }
/* UD-1022 */
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all .5s;
}
/* swiper */
.swiper-container {
    width: 600px;
    height: 300px;
}
.swiper-slide{
    background: black;
}
.swiper-button-prev,.swiper-button-next{
    right: 90%;
    left: auto;
    background-color: white;
    border-radius: 50%;
    width: 64px;
    height: 64px;

}
.swiper-button-next{
    right: auto;
    left: 90%;
}

.icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }

/* 留言板 */
.messageBoard{
    max-width: 930px;
    color:black;
    margin: 50px auto;
    box-shadow: 0px 1px 11px 1px rgba(205,207,209,1);
    background: #FAFAFA;
}
.messageWrap{
    padding: 20px 30px;
}
.messageWrap ol{
    border-top: 1px solid #F0F0F0;

}
.messageWrap ol li{
    padding: 10px 20px;
    border-bottom: 1px solid #F0F0F0;
}
.messageBoard .messageWrap > h3{
    font-weight: bold;
}
.postMessage{
    margin: 50px 50px;
}
